/* Header
------------------------------------------------------------*/

.c-header {
  &_heading {
    position: fixed;
    top: 150px;
    right: var(--pr);
    z-index: 10;

    h1 {
      font-size: 2.4rem;
      font-weight: 400;
      letter-spacing: 4px;
      writing-mode: vertical-lr;
    }

    @include maxW {
      top: 130px;
      right: 90px;

      h1 {
        font-size: 2rem;
        letter-spacing: 3px;
      }
    }
  }
}
