/* Utils
------------------------------------------------------------*/

.u-container {
  padding-right: var(--pr);
  padding-left: var(--pl);
}

@include maxW {
  .u-container {
    padding: 0 25px;
  }
}

.u-hover {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  display: inline-block;

  & > * {
    position: relative;
    display: block;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 0;
      height: 1px;
      background-color: currentColor;
      transition: width 0.3s ease;
    }
  }

  & > *:last-child::after {
    transition-delay: 0.1s;
  }

  &:hover > *::after {
    width: 100%;
    right: auto;
    left: 0;
  }
}

/* fs */
.text-sm {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.07;
  letter-spacing: 0.56px;
}

.text-base {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2;
}

@include maxW {
  .text-sm {
    font-size: 1.2rem;
    line-height: 2;
    letter-spacing: 0.48px;
  }

  .text-base {
    font-size: 1.4rem;
    line-height: 1.93;
  }
}

[data-popup] {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: none;

  &.--active {
    display: block;
  }
}

[data-popup-content] {
  will-change: opacity, filter;
  opacity: 0;
  filter: blur(10px);
}

/* lazy load */
img.lazy {
  opacity: 0;
  transition: opacity 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &.loaded {
    opacity: 1;
  }
}

/* only device */
[disabled] {
  pointer-events: none;
  color: #ccc;
  user-select: none;
}

[sp-only] {
  display: none !important;
}

@include maxW {
  [sp-only] {
    display: block !important;
  }

  [pc-only] {
    display: none !important;
  }
}
