/* variables
------------------------------------------------------------*/

:root {
  --app-height: 100vh;
  --menu-height: 100vh;

  --main-fonts: "yu-mincho-pr6n", sans-serif;

  --main-bg-cl: #fff;
  --main-text-cl: #000;
  --black-cl: #000;
  --white-cl: #fff;

  --pr: 25.694vw;
  --pl: 22.917vw;
  --h-control: 100px;
  --font-scale: 1;
}

@media only screen and (max-width: 1024px) {
  :root {
    --h-control: 65px;
  }
}