/* -------------------------------------------------------------------------- */
/*                                  home page                                 */
/* -------------------------------------------------------------------------- */

.homepage {
  .top {
    position: relative;
    width: 100%;
    height: var(--app-height);
    overflow: hidden;
  }
}
